{%extends 'base.html'%}
{%block title%}Home{%endblock%}
{%block content%}
<style>
  .modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%; 
  }
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  #sort-name{
    rotate: 180deg;
  }
  #sort-year{
    rotate: 180deg; 
  }
  /* Rotates sort buttons by 180 degrees to fit with sort logic */
  .pagination p {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  .pagination p.active {
    background-color: dodgerblue;
    color: white;
  }

  .pagination p:hover:not(.active) {background-color: #ddd;}
  .th-resize{
    resize:horizontal;
    overflow:auto;
  }
</style>
<div id = "igcse">
<div class="modal" id = "modal-filters" style = "display:none">
  <div class="modal-content animate" id = "filters-modal">
    <div class="modal-header">
      <h4 class="modal-title">Filters</h4>
      <span onclick= "document.getElementById('modal-filters').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="modal-body" id = "filters-body">
      <div id = "filter-messages"></div>
      <h6>Select Filters:</h6>
      <form oninput = "document.getElementById('apply-filter').style.display='block'">
      <div>
          <input id="year-toggle" onclick = "toggleFilter('year')" type = "checkbox">
          <label for="year-toggle"> Year Group</label>
          <div class = "container" id = "year-filter-container" style = "display:none">
            <input placeholder = "Year Group" id = "year-filter" />
          </div>
      </div>
      <div hidden = "true">
        <input id="english-toggle" onclick = "toggleFilter('english')" type = "checkbox">
        <label for="english-toggle">English Level</label>
        <div class = "container" id = "english-filter-container" style = "display:none">
          <input  placeholder = "English Level" id = "english-filter" />
        </div>
      </div>
      <div hidden = "true">
        <input id="math-toggle" onclick = "toggleFilter('math')" type = "checkbox">
        <label for="math-toggle">Maths Level</label>
        <div class = "container" id = "math-filter-container" style = "display:none">
          <input placeholder = "Maths Level" id = "math-filter" />
        </div>
      </div>
      <div hidden = "true">
        <input id="science-toggle" onclick = "toggleFilter('science')" type = "checkbox">
        <label for="science-toggle">Science Level</label>
        <div class = "container" id = "science-filter-container" style = "display:none">
          <input placeholder = "Science Level" id = "science-filter" />
        </div>
      </div>
      <div>
        <input id="lote-toggle" onclick = "toggleFilter('lote')" type = "checkbox">
        <label for="lote-toggle">LOTE Selected</label>
        <div class = "container" id = "lote-filter-container" style = "display:none">
          <input placeholder = "LOTE Selected" id = "lote-filter" />
        </div>
      </div>
      <div hidden = "true">
        <input id="lotelevel-toggle" onclick = "toggleFilter('lotelevel')" type = "checkbox">
        <label for="lotelevel-toggle">Level of LOTE Selected</label>
        <div class = "container" id = "lotelevel-filter-container" style = "display:none">
          <input placeholder = "Level of LOTE Selected" id = "lotelevel-filter" />
        </div>
      </div>
      <div>
        <input id="elective1-toggle" onclick = "toggleFilter('elective1')" type = "checkbox">
        <label for="elective1-toggle">1st Elective</label>
        <div class = "container" id = "elective1-filter-container" style = "display:none">
          <input placeholder = "1st Elective" id = "elective1-filter" />
        </div>
      </div>
      <div>
        <input id="elective2-toggle" onclick = "toggleFilter('elective2')" type = "checkbox">
        <label for="elective2-toggle">2nd Elective</label>
        <div class = "container" id = "elective2-filter-container" style = "display:none">
          <input placeholder = "2nd Elective" id = "elective2-filter" />
        </div>
      </div>
      <div>
        <input id="elective3-toggle" onclick = "toggleFilter('elective3')" type = "checkbox">
        <label for="elective3-toggle">3rd Elective</label>
        <div class = "container" id = "elective3-filter-container" style = "display:none">
          <input placeholder = "3rd Elective" id = "elective3-filter" />
        </div>
      </div>
      <div>
          <input id="student-notes-toggle" onclick = "toggleFilter('student-notes')" type = "checkbox">
          <label for="student-notes-toggle">Notes</label>
          <div class = "container" id = "student-notes-filter-container" style = "display:none">
            <input placeholder = "Notes" id = "student-notes-filter" />
          </div>
      </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" style = "display:none;background-color:black;border:none" onclick = "applyFilters()" id = "apply-filter">Apply Filters</button>
    </div>
  </div>
</div>
<div style="display:flex;justify-content:left;align-items: flex-start">
  <input class = "form-control" placeholder = "Search for a student" id = "search" style = "width:200px" />
  <button class = "btn btn-primary" onclick = "search()" style = "background-color:black;border:none"><i class="fa fa-search" style="color:white"></i></button>
  <button class = "btn btn-primary" onclick = "document.getElementById('modal-filters').style.display='block'" style = "background-color:black;border:none"><i class = "fa fa-filter" style = "color:white"></i><span class="badge badge-light" style = "display:none" id = "number-filters"></span></button>
  <button class = "btn btn-primary" onclick = "cancel_search()" style = "background-color:red;border:none"><i class="fa fa-close" style="color:white"></i></button>
  <button class = "btn btn-primary" onclick = "exportTableToExcel('table')" style = "background-color:black;border:none;margin-left:40px"><i class="fa fa-download"></i> Excel</button>
</div>
<br>
<table class = "table table-bordered" id = "table">
  <thead>
    <th>Name <i id = "sort-name" onclick = "sortColumn('name')" class = "fa fa-sort"></i></th>
    <th>Email <i id = "email" onclick = "toggleColumn('email')" class="fa fa-eye"></i></th>
    <th>Year Group <i id = "year" onclick = "toggleColumn('year')" class="fa fa-eye"></i><i id = "sort-year" onclick = "sortColumn('year')" class = "fa fa-sort"></i></th>
    <th>LOTE Selected <i id = "lote" onclick = "toggleColumn('lote')" class="fa fa-eye"></i></th>
    <th>1st Elective <i id = "elective1" onclick = "toggleColumn('elective1')" class="fa fa-eye"></i></th>
    <th>2nd Elective <i id = "elective2" onclick = "toggleColumn('elective2')" class="fa fa-eye"></i></th>
    <th>3rd Elective <i id = "elective3" onclick = "toggleColumn('elective3')" class="fa fa-eye"></i></th>
    <th>Reserve Choice <i id = "reserve" onclick = "toggleColumn('reserve')" class = "fa fa-eye"></i></th>
    <th>Date and Time (SGT) <i id = "datetime" onclick = "toggleColumn('datetime')" class="fa fa-eye"></i></th>
    <th>Plans for IGCSE <i id = "plans" onclick = "toggleColumn('plans')" class="fa fa-eye"></i></th>
    <th>Notes</th>
  </thead>
  {% set counter = namespace(value=0)%}
  <tr id = "null-search-row" hidden = "true"><td colspan = "12">No students found</td></tr>
  <tbody  id = "students">
  {%for student in students%}
    {%set idx = counter.value%}
  <tr class = "student" id = "row-{{idx}}">
    <td id = "name-{{idx}}"></td>
    <td id = "email-{{idx}}">{{student.email}}</td>
    <td id = "year-{{idx}}"></td>
    <td id = "lote-{{idx}}"></td>
    <td id = "elective1-{{idx}}"></td>
    <td id = "elective2-{{idx}}"></td>
    <td id = "elective3-{{idx}}"></td>
    <td id = "reserve-{{idx}}"></td>
    <td id = "datetime-{{idx}}"></td>
    <td id = "plans-{{idx}}">{{student.studying_igcse}}</td>
    <td id = "notes-{{idx}}"></td>
  </tr>
    <div class="modal" id = "modal-{{idx}}" style = "display:none">
      <div class="modal-content animate" id = "notes-modal-{{idx}}">
        <div class="modal-header">
          <h4 class="modal-title" id = "modalname-{{idx}}">Notes for </h4>
          <span onclick= "document.getElementById('modal-{{idx}}').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="modal-body" id = "notes-body-{{idx}}">
          <div id = "notes-messages-{{idx}}"></div>
          <i class = "fa fa-edit" id = "notes-icon-{{idx}}" onclick = "toggleNotesMode({{idx}})"></i>
          <textarea style = "display:none" class="form-control" id="notes-text-{{idx}}" oninput = "displayNotes({{idx}})">{{student.notes}}</textarea>
          <p id = "view-notes-{{idx}}" style = "display:block"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style = "display:none" onclick = "update_notes({{idx}},'{{student.email}}')" id = "save-{{idx}}">Save</button>
        </div>
      </div>
    </div>
    <script>
      document.getElementById("year-{{idx}}").innerHTML = {{student.year_group | safe}} // This sets the year group of the student.
      document.getElementById("name-{{idx}}").innerHTML = "{{student.name}}" // This sets the name of the student.
      if("{{igcse_subjects[idx].lote}}" != ""){ // This checks if the student has selected options.
        document.getElementById("lote-{{idx}}").innerHTML = "{{igcse_subjects[idx].lote}}" // This sets the lote of the student.
      if("{{igcse_subjects[idx].lote}}" == "Chinese"){ // This checks if the student has selected Chinese as their language other than English.
        document.getElementById("lote-{{idx}}").innerHTML = "{{igcse_subjects[idx].lote_level}}" // This sets the Chinese level of the student.
      }
      else{ // This checks if the student has selected a language other than Chinese.
        document.getElementById("lote-{{idx}}").innerHTML = "{{igcse_subjects[idx].lote}}" // This sets the language other than English level of the student.
      }
      document.getElementById("elective1-{{idx}}").innerHTML = "{{igcse_subjects[idx].elective1}}" // This sets the electives of the student.
      document.getElementById("elective2-{{idx}}").innerHTML = "{{igcse_subjects[idx].elective2}}" // This sets the electives of the student.
      document.getElementById("elective3-{{idx}}").innerHTML = "{{igcse_subjects[idx].elective3}}" // This sets the electives of the student.
        document.getElementById("reserve-{{idx}}").innerHTML = "{{igcse_subjects[idx].reserve_choice}}" // This sets the reserve choice of the student.
        document.getElementById("datetime-{{idx}}").innerHTML = "{{igcse_subjects[idx].datetime}}" // This sets the date and time of the student.
        button = document.createElement("button") // This creates a button element.
        button.className = "btn btn-primary" // This sets the class of the button to "btn btn-primary".
        button.style.backgroundColor = "black" // This sets the background color of the button.
        button.style.border = "none" // This sets the style of the button.
        button.innerHTML = "<i class = 'fa fa-file-text'></i>" // This sets the text to a doc icon.
        document.getElementById("view-notes-{{idx}}").innerText = document.getElementById("notes-text-{{idx}}").value // This sets the notes of the student.
        document.getElementById("notes-{{idx}}").appendChild(button) // This adds a button to the notes column of the table.
        button.onclick = function(){document.getElementById("modal-{{idx}}").style.display = 'block'} // This sets the onclick function of the button to display the modal.
        document.getElementById("modalname-{{idx}}").innerText = "Notes for {{student.name}}" // This sets the name of the student in the modal.
      }
      else{ // This checks if the student has not selected options.
        row = document.getElementById("row-{{idx}}") // This gets the row of the student.
        row.parentNode.removeChild(row) // This removes the row of the student.
      }
      {%set counter.value = counter.value+1%} // This increments the counter.
    </script>
    {%endfor%}
  </tbody>
</table>
<div class="pagination" id = "page-controls">
  <p id = "previous" onclick = "paginateTable(2)" style = "display:none">&laquo;</p>
  <div id = "pages">
  </div>
  <p id = "next" onclick = "paginateTable(-1)">&raquo;</p>
</div>
</div>
<script>
  var start = 1 // This is the starting index of the table.
  var page_length = 50; // This is the number of rows per page.
  var num_filters = 0; // This is the number of filters applied.
  let year_groups,english_levels,math_levels,science_levels,lotes,lote_levels,elective1s,elective2s,elective3s,notes_filter; // These are the filters applied. 
  let og_rows; // This is the original rows of the table.
  let row_count;
  let year_input,english_input,math_input,science_input,lote_input,lote_level_input,elective1_input,elective2_input,elective3_input,notes_filter_input; // These are the input boxes for the filters.
  let checked = [false,false,false,false,false,false,false,false,false,false]; // This is the array of booleans that keeps track of which filters are applied.
  let cols = ["year","english","math","science","lote","lotelevel","elective1","elective2","elective3","student-notes"] // These are the columns of the table.
  document.addEventListener('DOMContentLoaded', function () { // This function is called when the page is loaded.
    year_input = document.getElementById("year-filter") // This gets the year filter input box.
    new Tagify(year_input, { // This creates a new Tagify object for the year filter input box.
      whitelist: ["Year 7", "Year 8", "Year 9", "Year 10", "Year 11", "Year 12","Year 13"], // This sets the whitelist for the year filter input box.
      dropdown: { // This sets the dropdown options for the year filter input box.
        enabled: 1, // This enables the dropdown.
        fuzzySearch: true, // This enables fuzzy search.
        position: 'input', // This sets the position of the dropdown.
        caseSensitive: false, // This sets the case sensitivity of the dropdown.
      },
      enforceWhitelist:true // This enforces the whitelist.
    })
    year_groups = [] // This sets the year groups.
    english_input = document.getElementById("english-filter") // This gets the english filter input box.
    new Tagify(english_input, { // This creates a new Tagify object for the english filter input box.
      whitelist:["First Language","Second Language"], // This sets the whitelist for the english filter input box.
      dropdown: { // This sets the dropdown options for the english filter input box.
        enabled: 1, // This enables the dropdown.
        fuzzySearch: true, // This enables fuzzy search.
        position: 'input', // This sets the position of the dropdown.
        caseSensitive: false, // This sets the case sensitivity of the dropdown.
      },
      enforceWhitelist:true // This enforces the whitelist.
    })
    //english_levels = [] // This sets the english levels.
    math_input = document.getElementById("math-filter") // This gets the math filter input box.
    new Tagify(math_input, { // This creates a new Tagify object for the math filter input box.
      whitelist:["Foundation","Higher","Further Pure"], // This sets the whitelist for the math filter input box.
      dropdown: { // This sets the dropdown options for the math filter input box.
        enabled: 1, // This enables the dropdown.
        fuzzySearch: true, // This enables fuzzy search.
        position: 'input', // This sets the position of the dropdown.
        caseSensitive: false, // This sets the case sensitivity of the dropdown.
      },
      enforceWhitelist:true // This enforces the whitelist.
    })
    math_levels = [] // This sets the math levels.
    science_input = document.getElementById("science-filter") // This gets the science filter input box.
    new Tagify(science_input, { // This creates a new Tagify object for the science filter input box.
      whitelist:["Double","Triple"], // This sets the whitelist for the science filter input box.
      dropdown: { // This sets the dropdown options for the science filter input box.
        enabled: 1, // This enables the dropdown.
        fuzzySearch: true, // This enables fuzzy search, which allows the user to type in a partial word and get suggestions.
        position: 'input', // This sets the position of the dropdown.
        caseSensitive: false, // This sets the case sensitivity of the dropdown.
      },
      enforceWhitelist:true // This enforces the whitelist.
    })
    science_levels = [] // This sets the science levels.
    lote_input = document.getElementById("lote-filter") // This gets the lote filter input box.
    new Tagify(lote_input, { // This creates a new Tagify object for the lote filter input box.
      whitelist:["French","Spanish","Chinese as a First Language","Chinese as a Foreign Language","Chinese as a Second Language"], // This sets the whitelist for the lote filter input box.
      dropdown: { // This sets the dropdown options for the lote filter input box.
        enabled: 1, // This enables the dropdown.
        fuzzySearch: true, // This enables fuzzy search, which allows the user to type in a partial word and get suggestions.
        position: 'input', // This sets the position of the dropdown.
        caseSensitive: false, // This sets the case sensitivity of the dropdown.
      },
      enforceWhitelist:true // This enforces the whitelist.
    })
    lotes = [] // These are the languages other than English that are offered at Nexus.
    lote_level_input = document.getElementById("lotelevel-filter") // This gets the lote level filter input box.
    new Tagify(lote_level_input, { // This creates a new Tagify object for the lote level filter input box.
      whitelist:["First Language","Second Language","Foreign Language","Foundational Level"], // This sets the whitelist for the lote level filter input box.
      dropdown: { // This sets the dropdown options for the lote level filter input box.
        enabled: 1, // This enables the dropdown.
        fuzzySearch: true, // This enables fuzzy search, which allows the user to type in a partial word and get suggestions.
        position: 'input', // This sets the position of the dropdown.
        caseSensitive: false, // This sets the case sensitivity of the dropdown.
      },
      enforceWhitelist:true // This enforces the whitelist.
    })
    //lote_levels = ["First Language","Second Language","Foreign Language","Foundational Level"] // These are the levels of languages other than English that are offered at Nexus.
    elective1_input = document.getElementById("elective1-filter") // This gets the elective1 filter input box.
    new Tagify(elective1_input, { // This creates a new Tagify object for the elective1 filter input box.
      whitelist:{{block1 | safe}}, // This sets the whitelist for the elective1 filter input box.
      dropdown: { // This sets the dropdown options for the elective1 filter input box.
        enabled: 1, // This enables the dropdown.
        fuzzySearch: true, // This enables fuzzy search, which allows the user to type in a partial word and get suggestions.
        position: 'input', // This sets the position of the dropdown.
        caseSensitive: false, // This sets the case sensitivity of the dropdown.
      },
      enforceWhitelist:true // This enforces the whitelist
    })
    elective1s = [] // Gets the electives offered in block 1 at Nexus.
    elective2_input = document.getElementById("elective2-filter")
    new Tagify(elective2_input, { // This creates a new Tagify object for the elective2 filter input box.
      whitelist:{{block2 | safe}}, // This sets the whitelist for the elective2 filter input box.
      dropdown: { // This sets the dropdown options for the elective2 filter input box.
        enabled: 1, // This enables the dropdown.
        fuzzySearch: true, // This enables fuzzy search, which allows the user to type in a partial word and get suggestions.
        position: 'input', // This sets the position of the dropdown.
        caseSensitive: false, // This sets the case sensitivity of the dropdown.
      },
      enforceWhitelist:true // This enforces the whitelist
    })
    elective2s = [] // Gets the electives offered in block 2 at Nexus.
    elective3_input = document.getElementById("elective3-filter") // This gets the elective3 filter input box.
    new Tagify(elective3_input, { // This creates a new Tagify object for the elective3 filter input box.
      whitelist: {{block3 | safe}}, // This sets the whitelist for the elective3 filter input box.
      dropdown: { // This sets the dropdown options for the elective3 filter input box.
        enabled: 1, // This enables the dropdown.
        fuzzySearch: true, //This enables fuzzy search, which allows the user to type in a partial word and get suggestions.
        position: 'input', // This sets the position of the dropdown.
        caseSensitive: false, // This sets the case sensitivity of the dropdown.
      },
      enforceWhitelist:true // This enforces the whitelist
    })
    elective3s = [] // Gets the electives offered in block 3 at Nexus.
    notes_filter_input = document.getElementById("student-notes-filter") // This gets the notes filter input box.
    new Tagify(notes_filter_input) // This creates a new Tagify object for the notes filter input box.
    notes_filter = [] // This sets the notes filter to an empty array.
  })
  let tableHTML = "" // This is the HTML of the table.
  window.onload = function(){ // This function is called when the page is loaded.
    og_rows = Array.from(document.getElementById("students").children).slice() // Makes a copy of the original rows of the table.
    row_count = Array.from(document.getElementById("students").querySelector("tr")).length
    for(var i = 1; i <= Math.floor(row_count/page_length)+1; i++){ // This loops through each page of the table.
      document.getElementById('pages').innerHTML += "<p id = 'pages-"+i.toString()+"'onclick = 'paginateTable("+((i-1)*page_length+2).toString()+")'>"+i+"</p>" // This adds a page number to the pagination. 
      if((i)*page_length+2>=row_count){ // This checks if the current page is the last page.
        break // This breaks the loop if the current page is the last page.
      }
    }
    paginateTable(2) // This paginates the table.
  }
function applyFilters(){ // This function is called when the user clicks the apply filters button.
    num_filters = 0 // This is the number of filters applied.
    idx = 0; // This is the index of the filter.
    for(filter of cols){ // Iterates through all of the filters.
      if(document.getElementById(filter+"-toggle").checked){ // Checks if the filter is selected.
        num_filters++ // Updates the number of filters applied.
        checked[idx] = true // Updates the array of booleans that keeps track of which filters are applied.
      }
      else{ // Checks if the filter is not selected.
        checked[idx] = false // Updates the array of booleans that keeps track of which filters are applied.
      }
    }
    if(num_filters == 0){ // Checks if the user has not selected any filters.
        document.getElementById("number-filters").style.display = "none" // Hides the badge that shows the number of filters applied.
      }
    else{ // Checks if the user has selected at least one filter.
      document.getElementById("number-filters").style.display = "block" // This is the badge that shows the number of filters applied.
      document.getElementById("number-filters").innerHTML = num_filters.toString() // Displays the number of filters applied.
    }
  if(year_input.value != ""){ // Checks if the user has selected any year groups.
    year_groups = JSON.parse(year_input.value) // Gets the year groups selected by the user
    for(idx = 0; idx<year_groups.length;idx++){ // Iterates through all of the year groups selected by the user
      year_groups[idx] = year_groups[idx].value.split("Year ")[1] // Gets the year group number from the year group name
    }
  }
  else{ // If no year groups are selected, the year groups array is set to an empty array.
    year_groups = [] // If no year groups are selected, the year groups array is set to an empty array.
  }
  /*if(english_input.value != ""){ // Checks if the user has selected any english levels.
    english_levels = JSON.parse(english_input.value) // Gets the english levels selected by the user
    for(idx = 0; idx<english_levels.length;idx++){ // Iterates through all of the english levels selected by the user
      english_levels[idx] = english_levels[idx].value.toLowerCase() // Gets the english level from the english level name
    }
  }
  else{ // If no english levels are selected, the english levels array is set to an empty array.
    english_levels = [] // If no english levels are selected, the english levels array is set to an empty array.
  }*/
  if(math_input.value != ""){ // Checks if the user has selected any math levels.
    math_levels = JSON.parse(math_input.value) // Gets the math levels selected by the user
    for(idx = 0; idx<math_levels.length;idx++){ // Iterates through all of the math levels selected by the user
      math_levels[idx] = math_levels[idx].value.toLowerCase() // Gets the math level from the math level name
    }
  }
  else{ // If no math levels are selected, the math levels array is set to an empty array.
    math_levels = [] // If no math levels are selected, the math levels array is set to an empty array.
  }
  if(science_input.value != ""){ // Checks if the user has selected any science levels.
    science_levels = JSON.parse(science_input.value) // Gets the science levels selected by the user
    for(idx = 0; idx<science_levels.length;idx++){ // Iterates through all of the science levels selected by the user
      science_levels[idx] = science_levels[idx].value.toLowerCase() // Gets the science level from the science level name
    }
  }
  else{ // If no science levels are selected, the science levels array is set to an empty array.
    science_levels = [] // If no science levels are selected, the science levels array is set to an empty array.
  }
  if(lote_input.value != ""){ // Checks if the user has selected any languages other than English.
    lotes = JSON.parse(lote_input.value) // Gets the languages other than English selected by the user
    for(idx = 0; idx<lotes.length;idx++){ // Iterates through all of the languages other than English selected by the user
      lotes[idx] = lotes[idx].value.toLowerCase() // Gets the language other than English from the language other than English name
    }
  }
  else{ // If no languages other than English are selected, the languages other than English array is set to an empty array.
    lotes = [] // If no languages other than English are selected, the languages other than English array is set to an empty array.
  }
  /*if(lote_level_input.value != ""){ // Checks if the user has selected any levels of languages other than English.
    lote_levels = JSON.parse(lote_level_input.value) // Gets the levels of languages other than English selected by the user
    for(idx = 0; idx<lote_levels.length;idx++){ // Iterates through all of the levels of languages other than English selected by the user
      lote_levels[idx] = lote_levels[idx].value.toLowerCase() // Gets the level of language other than English from the level of language other than English name
    }
  }
  else{ // If no levels of languages other than English are selected, the levels of languages other than English array is set to an empty array.
    lote_levels = [] // If no levels of languages other than English are selected, the levels of languages other than English array is set to an empty array.
  }*/
  if(elective1_input.value != ""){ // Checks if the user has selected any electives in block 1.
    elective1s = JSON.parse(elective1_input.value).slice() // Gets the electives selected by the user in block 1
    for(idx=0;idx<elective1s.length;idx++){ // Iterates through all of the electives selected by the user in block 1
      elective1s[idx] = elective1s[idx].value.toLowerCase() // Gets the elective from the elective name
    }
  }
  else{ // If no electives are selected in block 1, the electives array is set to an empty array.  
    elective1s = [] // If no electives are selected in block 1, the electives array is set to an empty array.
  }
  if(elective2_input.value != ""){ // Checks if the user has selected any electives in block 2.
    elective2s = JSON.parse(elective2_input.value).slice() // Gets the electives selected by the user in block 2
    for(idx=0;idx<elective2s.length;idx++){ // Iterates through all of the electives selected by the user in block 2
      elective2s[idx] = elective2s[idx].value.toLowerCase() // Gets the elective from the elective name
    }
  }
  else{ // If no electives are selected in block 2, the electives array is set to an empty array.
    elective2s = [] // If no electives are selected in block 2, the electives array is set to an empty array.
  }
  if(elective3_input.value != ""){ // Checks if the user has selected any electives in block 3.
    elective3s = JSON.parse(elective3_input.value).slice() // Gets the electives selected by the user in block 3
    for(idx=0;idx<elective3s.length;idx++){ // Iterates through all of the electives selected by the user in block 3
      elective3s[idx] = elective3s[idx].value.toLowerCase() // Gets the elective from the elective name
    }
  }
  else{ // If no electives are selected in block 3, the electives array is set to an empty array.
    elective3s = [] // If no electives are selected in block 3, the electives array is set to an empty array.
  }
  if(notes_filter_input.value != ""){ // Checks if the user has selected any notes filters.
    notes_filter = JSON.parse(notes_filter_input.value).slice() // Gets the notes filters selected by the user
    for(idx=0;idx<notes_filter.length;idx++){ // Iterates through all of the notes filters selected by the user
      notes_filter[idx] = notes_filter[idx].value // Gets the note from the note name
      notes_filter[idx] = notes_filter[idx].toLowerCase() // Converts the note to lowercase
    }
  }
  else{ // If no notes filters are selected, the notes filters array is set to an empty array.
    notes_filter = [] // If no notes filters are selected, the notes filters array is set to an empty array.
  }
  flash("Filters applied","success","filter-messages","modal-filters") // This displays a success message.
  document.getElementById("apply-filter").style.display = 'none' // This hides the apply filters button.
}
function search(){ // This function is called when the user clicks the search button.
  var input = document.getElementById("search").value.toLowerCase() // This gets the value of the search box and converts it to lowercase.
  var students = document.getElementsByClassName("student") // This gets all the rows in the table.
  not_hidden = 0 // This is the number of rows that are not hidden.
  for(var index=0;index<students.length;index++){ // This loops through each row in the table.
      student = students[index] // This gets the current row.
      student_name = student.children[0].innerHTML.toLowerCase() // This gets the name of the student.
      student_year = student.children[2].innerHTML.toLowerCase() // This gets the year group of the student.
      //student_english = student.children[2].innerHTML.toLowerCase() // This gets the english level of the student.
      //student_math = student.children[3].innerHTML.toLowerCase() // This gets the math level of the student.
      //student_science = student.children[4].innerHTML.toLowerCase() // This gets the science level of the student.
      student_lote = student.children[3].innerHTML.toLowerCase() // This gets the language other than English of the student.
      //student_lotelevel = student.children[7].innerHTML.toLowerCase() // This gets the level of language other than English of the student.
      student_elective1 = student.children[4].innerHTML.toLowerCase() // This gets the electives of the student.
      student_elective2 = student.children[5].innerHTML.toLowerCase() // This gets the electives of the student.
      student_elective3 = student.children[6].innerHTML.toLowerCase() // This gets the electives of the student.
      student_notes = document.getElementById("view-notes-"+index.toString()).innerText // This gets the notes of the student.
      if(student_name.includes(input)){ // This checks if the name of the student contains the search term.
        cont = true // This is a boolean that is used to check if the student should be shown.
        if(year_groups.indexOf(student_year) == -1 && document.getElementById("year-toggle").checked){ 
          student.hidden = true // This hides the row if the year group of the student is not in the year groups filter.
        }
        /*else if(english_levels.indexOf(student_english) == -1 && checked[1]){ // This checks if the electives of the student contain the search term.
          student.hidden = true // This checks if the electives of the student contain the search term.
        }
        else if(math_levels.indexOf(student_math) == -1 && document.getElementById("math-toggle").checked){ 
          student.hidden = true // This checks if the electives of the student contain the search term.
        }
        else if(science_levels.indexOf(student_science) == -1 && document.getElementById("science-toggle").checked){ 
          student.hidden = true // This checks if the electives of the student contain the search term.
        }*/
        else if(lotes.indexOf(student_lote) == -1 && document.getElementById("lote-toggle").checked){ // This checks if the electives of the student contain the search term.
          student.hidden = true // This checks if the electives of the student contain the search term.
        }
        /*else if(lote_levels.indexOf(student_lotelevel) == -1 && checked[5]){ // This checks if the electives of the student contain the search term.
          student.hidden = true // This checks if the electives of the student contain the search term.
        }*/
        else if(elective1s.indexOf(student_elective1) == -1 && document.getElementById("elective1-toggle").checked){ // This checks if the electives of the student contain the search term.
          student.hidden = true // This checks if the electives of the student contain the search term.
        }
        else if(elective2s.indexOf(student_elective2) == -1 && document.getElementById("elective2-toggle").checked){ // This checks if the electives of the student contain the search term.
          student.hidden = true // This checks if the electives of the student contain the search term. 
        }
        else if(elective3s.indexOf(student_elective3) == -1 && document.getElementById("elective3-toggle").checked){ // This checks if the electives of the student contain the search term.
          student.hidden = true // This checks if the electives of the student contain the search term.
        }
        else if(document.getElementById("student-notes-toggle").checked){ // This checks if the notes of the student contain the search term.
          cont = true // This is a boolean that is used to check if the student should be shown.
          if(student_notes == ""){ // This checks if the notes of the student are empty.
            cont = false // This sets cont to false if the notes of the student are empty.
          }
          else{ // This checks if the notes of the student are not empty.
            n = student_notes.split(" ").join("") // This gets the notes of the student and removes all spaces.
            for(var criterion of notes_filter){ // This loops through each criterion in the notes filter.
              c = criterion.split(" ").splice() // This gets the criterion and removes all spaces.
              c = c.join("") // This removes all spaces from the criterion.
              if(!n.includes(c)){ // This checks if the notes of the student do not contain the search term.
                cont = false // This sets cont to false if the notes of the student do not contain the search term.
                break // This breaks the loop if the notes of the student do not contain the search term.
              }
          }
          }
          if(cont){ // This checks if the name of the student contains the search term.
            student.hidden = false // This shows the row if the name of the student contains the search term.
            not_hidden++ // This increments the number of rows that are not hidden.
          }
          else{ // This checks if the name of the student does not contain the search term.
            student.hidden = true // This hides the row if the name of the student does not contain the search term.
          }
        }
        else{ // This checks if the name of the student contains the search term.
          student.hidden = false // This shows the row if the name of the student contains the search term.
          not_hidden++ // This increments the number of rows that are not hidden.
        }
      }
      else{ // This checks if the name of the student does not contain the search term.
        student.hidden = true // This hides the row if the name of the student does not contain the search term.
      }
    }
  if(not_hidden == 0){ // No students were found
    document.getElementById("null-search-row").hidden = false // This displays the row that is displayed when no students are found.
  }
  else{ // Students were found
    document.getElementById("null-search-row").hidden = true // This hides the row that is displayed when no students are found.
  }
  document.getElementById("page-controls").hidden = true // This hides the pagination controls.
}
function toggleColumn(column){ // This function is called when the user clicks on a column header to hide or show the column.
    {%set idx = 0%} // This is keeps track of the index of the student
    {%set counter = namespace(value=0)%} // This adjusts to keep track of the index of the student
    {%for row in students%} // This loops through each student in the students list
      {%set idx = counter.value%} // This sets the index of the student
        if(document.getElementById(column+"-{{idx}}") && document.getElementById(column+"-{{idx}}").style.visibility == "hidden"){ // This checks if the column is hidden
          document.getElementById(column+"-{{idx}}").style.visibility = "visible" // This makes the column visible
          document.getElementById(column).className = "fa fa-eye" // This changes the icon to an eye
        }
        else if(document.getElementById(column+"-{{idx}}")){ // This checks if the column is visible
          document.getElementById(column+"-{{idx}}").style.visibility = "hidden" // This makes the column hidden
          document.getElementById(column).className = "fa fa-eye-slash" // This changes the icon to a crossed out eye
        }
    {%set counter.value = counter.value+1%} // This increments the index of the student
    {%endfor%} // This ends the loop through each student in the students list
}
function sortColumn(column){ // This function is called when the user clicks on a column header to sort the table.
  n = ["name","email","year","math","science","lote","elective1","elective2","elective3"].indexOf(column) // This gets the index of the column that is being sorted.
  {%set idx = 0%} // This is keeps track of the index of the student
  {%set counter = namespace(value=0)%} // This adjusts to keep track of the index of the student
  dir = "" // This is the direction of the sort.
  if(document.getElementById("sort-"+column).className == "fa fa-sort"){ // This checks if the column is not sorted.
    dir = "asc" // This is the direction of the sort.
  }
  else if(document.getElementById("sort-"+column).className == "fa fa-sort-asc"){ // This checks if the column is already sorted in ascending order.
    dir = "desc" // This is the direction of the sort.
  }
  else{ // This checks if the column is already sorted in descending order.
    dir = "" // This is the direction of the sort.
  }
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0; // This is the logic for sorting the table.
  table = document.getElementById("table"); // This gets the table.
  switching = true; // This is a boolean that is used to check if a switch has been made.
  while (switching) { // Make a loop that will continue until no switching has been done:
    switching = false; // This is a boolean that is used to check if a switch has been made.
    rows = table.rows; // This gets all the rows in the table.
    for (i = 2; i < (rows.length - 1); i++) { // Loop through all table rows (except the first, which contains table headers):
      shouldSwitch = false; // This is a boolean that is used to check if a switch has been made.
      x = rows[i].getElementsByTagName("TD")[n]; // This gets the current row in the table.
      y = rows[i + 1].getElementsByTagName("TD")[n]; // This gets the next row in the table.
      if (dir == "asc") { // If the direction is ascending, the loop will run in normal order
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) { // Checks if the current row is greater than the next row
          shouldSwitch = true; // If the current row is greater than the next row, the loop will break
          break; // If the current row is greater than the next row, the loop will break
        }
      } else if (dir == "desc") { // If the direction is descending, the loop will run in reverse order
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) { // If the current row is greater than the next row, the loop will break
          shouldSwitch = true; // If the current row is greater than the next row, the loop will break
          break; // If the current row is greater than the next row, the loop will break
        }
      }
    }
    if (shouldSwitch) { // If a switch has been marked, make the switch and mark that a switch has been done!
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]); // If a switch has been marked, make the switch and mark that a switch has been done!
      switching = true; // Run loop again because a switch has been done!
      switchcount++; // Each time a switch is done, increase this count by 1:
    }
  }
  if(column == "year"){ // This checks if the column is the year column
    document.getElementById("sort-name").className = "fa fa-sort" // This resets the sort icon to the default sort icon
  }
  if(column == "name"){ // This checks if the column is the name column
    document.getElementById("sort-year").className = "fa fa-sort" // This resets the sort icon to the default sort icon
  }
  if(dir != ""){ // This checks if the column is already sorted
    document.getElementById("sort-"+column).className = "fa fa-sort-"+dir // This changes the sort icon to the ascending or descending sort icon
  }
  else{ // This resets the sort icon to the default sort icon
    document.getElementById("sort-"+column).className = "fa fa-sort" // This resets the sort icon to the default sort icon
    document.getElementById("students").replaceChildren() // This clears the table of all rows.
    for(var row of og_rows){ // This loops through each row in the original rows of the table.
      document.getElementById("students").appendChild(row) // This resets the table to the original order
    }
    if(column != "name" && document.getElementById(column).className == "fa fa-eye-slash"){ // This checks if the column is hidden
      toggleColumn(column) // This is to ensure that the column is hidden if it was hidden before sorting
      toggleColumn(column) // This is to ensure that the column is hidden if it was hidden before sorting
    }
  }
}
function exportTableToExcel(tableID='table', filename = 'IGCSE choices'){ // Exports table to excel
  table = document.getElementById(tableID) // This gets the table.
  dtable = table.cloneNode(true) // This clones the table so that the original table is not affected.
  element = dtable.getElementsByTagName("tr")[1] // This gets the first row of the table.
  element.parentNode.removeChild(element) // This removes the first row of the table.
  dtable_head = table.getElementsByTagName("thead") // This gets the head of the table.
  dtable_head = dtable_head[0] // This gets the head of the table.
  icons = Array.from(dtable.getElementsByTagName("i")).slice() // This gets all the icons in the table.
  for(i of icons){ // This loops through each icon in the table.
    i.remove() // Removes all icons from the table
  }
  scripts = Array.from(dtable.getElementsByTagName("script")).slice() // This gets all the scripts in the table.
  for(i of scripts){ // This loops through each script in the table.
    i.remove() // Removes all icons from the table
  }
  for(var i = 0; i < dtable.rows.length; i++){ // This loops through each row in the table.
    if(i>0){ // Skips first row as that has the column headers
      dtable.rows[i].cells[dtable.rows[i].cells.length-1].innerHTML =  document.getElementById("view-notes-"+(i-1).toString()).innerHTML.split("<br>").join("<br style = 'mso-data-placement:same-cell;'>") // This adds the notes of the student.
    }
  }
  tableToExcel(dtable,filename) // This calls the tableToExcel function to export the table to excel.
}
function cancel_search(){ // This function is called when the user clicks the cancel search button.
  for(var filter of ["year","math","science","lote","elective1","elective2","elective3","student-notes"]){ // This loops through each filter.
    document.getElementById(filter+"-filter-container").style.display = "none" // This hides the filter input box.
    document.getElementById(filter+"-filter").value = "" // This clears the filter input box.
    document.getElementById(filter+"-toggle").checked = false // This unchecks the filter toggle.
  }
  document.getElementById("number-filters").style.display = "none" // Hides the badge that shows the number of filters applied.
  document.getElementById("search").value = "" // This clears the search box.
  search() // This calls the search function to update the table.
  paginateTable(2) // This paginates the table.
  document.getElementById("page-controls").hidden = false // This shows the pagination controls.
}
function update_notes(idx,email){ // Updates notes for a user
  fetch("/update-notes",{ // This is the fetch request to the server
    method:"POST", // This is the method of the request
    headers:{ // These are the headers of the request
      "Content-Type":"application/json" // This sets the data type to json so it can be 
    },
    body:JSON.stringify({ // This sends the notes to the server.
      "email":email, // This gets the email of the student.
      "notes":document.getElementById("notes-text-"+idx).value // This gets the notes from the text area.
    })
  }).then(response => response.json()).then(data =>process_save_response(data,idx)) // This processes the response from the server.
}
function process_save_response(data,idx){ // This function is called when the server responds to the fetch request.
  if(data.success == "y"){ // Notes updated successfully.
      document.getElementById('save-'+idx.toString()).style.display = 'none' // This hides the save button.
    flash("Notes updated successfully","success","notes-messages-{{idx}}",document.getElementById("notes-modal-{{idx}}")) // This displays a success message.
  }
  else{ // Notes failed to update.
      flash("Notes failed to update","error","notes-messages-{{idx}}",document.getElementById("notes-modal-{{idx}}")) // This displays an error message.
  }
}
function toggleNotesMode(idx){ // This function is called when the user clicks on the notes icon.
  if(document.getElementById("notes-text-"+idx).style.display == "none"){ // This checks if the notes text area is hidden.
    document.getElementById("notes-text-"+idx).style.display = "block" // This displays the notes text area.
    document.getElementById("view-notes-"+idx).style.display = "none" // This hides the notes text area.
    document.getElementById("notes-icon-"+idx).className = "fa fa-eye" // This changes the icon to an eye
  }
  else{ // This checks if the notes text area is displayed.
    document.getElementById("notes-text-"+idx).style.display = "none" // This hides the notes text area.
    document.getElementById("view-notes-"+idx).style.display = "block" // This displays the notes text area.
    document.getElementById("notes-icon-"+idx).className = "fa fa-pencil" // This changes the icon to a pencil
  }
}
function displayNotes(idx){ // This function is called when the user types in the notes text area.
  document.getElementById('view-notes-'+idx.toString()).innerText = document.getElementById('notes-text-'+idx.toString()).value // This updates the notes text area.
  if(document.getElementById('notes-text-'+idx.toString()).value == ""){ // This checks if the notes text area is empty.
    document.getElementById("view-notes-"+idx.toString()).value = "No notes have been added for this user" // This updates the notes text area.
  }
  document.getElementById('save-'+idx.toString()).style.display = 'block' // This displays the save button.
}
function toggleFilter(filter){ // This function is called when the user clicks on a filter.
  if(document.getElementById(filter+"-toggle").checked){ // Checks if the filter is selected.
    document.getElementById(filter+"-filter-container").style.display = "block" // Displays the filter input box.
  }
  else{ // Checks if the filter is not selected.
    document.getElementById(filter+"-filter-container").style.display = "none" // Hides the filter input box.
  }
}
  function paginateTable(start){ // This function is called when the user clicks on a page number.
    var table = document.getElementById("table"); // This gets the table.
    var rows = table.rows; // This gets all the rows in the table.
    if(start == 2){ // This checks if the user wants to go to the first page.
      document.getElementById("previous").style.display = "none"; // Hides the button to skip to the beginning as the user is on the first page.
    }
    else{ // This checks if the user wants to go to the first page.
      document.getElementById("previous").style.display = "block"; // Shows the button to skip to the beginning
    }
    if(start == -1){ // This checks if the user wants to go to the last page.
      start = rows.length-page_length // This is the index of the last row in the table.
    }
    for(i=1;i<=Math.floor((rows.length-2)/page_length);i++){ // This loops through each page number.
      try{ // Checks if a page is found
        document.getElementById("pages-"+i.toString()).className = "" // We remove the active class from all pages
      }
      catch{ // No page found
        break // We have reached the last page
      }
    }
    document.getElementById("pages-"+Math.floor((start-2)/page_length+1).toString()).className = "active" // Makes the current page number seem visible
    last_idx = start // This is the index of the last row in the current page.
    for(var i = 1; i < rows.length; i++){ // This loops through each row in the table.
      if(i>=start+page_length || i < start){ // This checks if the row is not in the current page.
        rows[i].hidden = true // This hides the row.
      }
      else{ // This checks if the row is in the current page.
        rows[i].hidden = false // This shows the row.
        last_idx = i*1 // This is the index of the last row in the current page.
      }
    }
    if(last_idx == rows.length-1){ // This is the last page
      document.getElementById("next").style.display = "none"; // Hides the button to skip to the end as the user is on the last page.
    }
    else{ // This is not the last page
      document.getElementById("next").style.display = "block"; // Shows the button to skip to the end
    }
  }
</script>
{%endblock%}