{%extends 'base.html'%}
{%block title%}Plans{%endblock%}
{%block content%}
<form method = "POST" oninput = 'document.getElementById("submit").hidden = false'>
  {%if course.upper() == "IGCSE"%}
  <h3>Will you be studying IGCSE at nexus?</h3>
  {%for option in igcse_options%}
    <input type = "radio" name = "igcse" value = "{{option}}" {%if user.studying_igcse == option%} checked {%endif%}/>
    {{option}}
    <br />
  {%endfor%}
  {%else%}
  <h3>Will you be studying IB at nexus?</h3>
  {%for option in ib_options%}
    <input type = "radio" name = "ib" value = "{{option}}" {%if user.studying_ib == option%} checked {%endif%}/>
    {{option}}
    <br />
  {%endfor%}
  {%endif%}
  <button id = "submit" class = "btn btn-primary" style = "background-color:black;border:none" hidden = "true" type = "submit">Save</button>
</form>
{%endblock%}