{%extends 'base.html'%}
{%block title%}Subject Information{%endblock%}
{%block content%}
<h2>Which curriculum's subject information do you wish to view?</h2>
<input type = "radio" name = "course" value = "IGCSE" id = "IGCSE" required = "true" onclick = "location.href = '/subjects/igcse'"/>      <label for = "IGCSE">IGCSE</label>
<br />
<input type = "radio" name = "course" value = "IB" id = "IB" required = "true" onclick = "location.href = '/subjects/ib'"/>      <label for = "IB">IB</label>
{%endblock%}