<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.19.3/xlsx.full.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<link rel="icon" type="image/x-icon" href="/static/nexus.png"><!-- This is the icon visible on the tab -->
    <title>{% block title %}<!-- Title goes here -->{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black" style = "background-color:#02B7DE">
      <a class="navbar-brand" href="/">
        <img src="/static/nexus.png" height="50" width="50" alt="Nexus Logo">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      > <!-- This is the button that appears when the screen is too small to display the navbar -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <!-- This is the navbar that appears when the screen is large enough to display it -->
        <ul class="navbar-nav mr-auto">
        {%if user.is_authenticated%}
          <li class = "nav-item active">
            <!-- Home link -->
            <a class="nav-link" href="/">{%if user.role == "Student"%}Home{%else%}View Students' IGCSE choices{%endif%}</a>
          </li>
          {%if user.role == "Student"%}
            {%if options%}
              <li class = "nav-item active">
                <!-- Options link -->
                <a class="nav-link" href="/edit">Edit your subject choices</a>
              </li>
            {%endif%}
            <li class = "nav-item active">
              <!-- Options link -->
              <a class="nav-link" href="/options">Add a new draft</a>
            </li>
            <li class = "nav-item active">
              <!-- Link to view subject information -->
              <a class="nav-link" href="/subject-info">View Subject Information</a>
            </li>
            <li class = "nav-item active">
              <!-- Link to select your plans -->
              <a class = "nav-link" href = "/select-plans">Enter your future plans</a>
            </li>
          {%else%}
            <li class = "nav-item active">
              <!-- IB link -->
              <a class="nav-link" href="/ib">View Students' IB choices</a>
            </li>
            <li class = "nav-item active">
              <!-- Blocks link -->
              <a class="nav-link" href="/blocks">Manage Blocks</a>
            </li>
            {%if user.email == "fake.e@nexus.edu.sg"%}
              <li class = "nav-item active">
                <!-- Backup link -->
                <a class="nav-link" href="/backup">Backup Database</a>
              </li>
            {%endif%}
          {%endif%}
          <li class = "nav-item active">
            <!-- Link to log out -->
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
          <li class = "nav-item active">
            <!-- Name -->
            <a class="nav-link">{{user.name}}</a>
          </li>
        {%else%}
          <li class = "nav-item active">
            <!-- Login page -->
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class = "nav-item active">
            <!-- Signup page -->
            <a class="nav-link" href="/sign-up">Sign Up</a>
          </li>
          <li class = "nav-item active">
            <!-- Verify page -->
            <a class="nav-link" href="/confirm">Verify Account</a>
          </li>
          <li class = "nav-item active">
            <!-- Forgot page -->
            <a class="nav-link" href="/forgot">Forgot password</a>
          </li>
        {%endif%}
        </ul>
      </div>
    </nav>
    <div id = "messages">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
        {{ message | safe }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% elif category == "success" %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      {{ message | safe}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%else%}
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
      {{ message | safe}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    </div>
    <script>
      var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,'
          , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
          , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
          , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
        return function(table, name) {
          if (!table.nodeType) table = document.getElementById(table)
          var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
          a = document.createElement("a")
          a.href = uri + base64(format(template, ctx))
          a.download = name+".xls"
          a.click()
        }
      })()
      date = new Date() // Gets the current date
      {%if deadline%}
      title = document.title // Gets the title of the page
      if(title != "Deadline" && !title.includes("Home")){ // Checks if the page is not the deadline page and not the home page
        location.href = "/deadlinepassed" // Redirects to the deadline page if the deadline has passed"
      }
      {%endif%}
      function flash(message,category="",container_id = "messages",reference=document.body){ // This function is used to display messages to the user
        msg = document.createElement("div") // This is the message that will be displayed
        if(category == "error"){ // Checks if the message is an error
          msg.className = "alert alert-danger alert-dismissable fade show" // This is the class that will be applied to the message
        }
        else if(category == "warning"){ // Checks if the message is a warning
          msg.className = "alert alert-warning alert-dismissable fade show" // This is the class that will be applied to the message
        }
        else if(category == "success"){ // Checks if the message is a success
          msg.className = "alert alert-success alert-dismissable fade show" // This is the class that will be applied to the message
        }
        else{ // The message is an info message
          msg.className = "alert alert-info alert-dismissable fade show" // This is the class that will be applied to the message
        }
        msg.role = "alert" // This is the role of the message
        msg.innerText = message // This is the message that will be displayed
        msg.innerHTML+='<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>' // This is the button that will be used to dismiss the message
        width = reference.offsetWidth // This is the width of the reference
        if(reference != document.body){ // Checks if the reference is not the body
          width-=20 // This is the padding of the message
        }
        msg.style.width = width.toString()+"px" // This is the width of the message
        document.getElementById(container_id).appendChild(msg) // Adds the message to the page
      }
    </script>
    <div class="container">
      <main>
        <style>
            .modal {
              display: none;
              position: fixed; 
              z-index: 1; 
              left: 0;
              top: 0;
              width: 100%;
              height: 100%; 
              overflow: auto; 
              background-color: rgb(0,0,0); 
              background-color: rgba(0,0,0,0.4);
              padding-top: 60px;
            }
            /* Modal Content/Box */
            .modal-content {
              background-color: #fefefe;
              margin: 5px auto;
              border: 1px solid #888;
              width: 80%; 
            }
            .close {
              position: absolute;
              right: 25px;
              top: 0;
              color: #000;
              font-size: 35px;
              font-weight: bold;
            }
            .close:hover,
            .close:focus {
              color: red;
              cursor: pointer;
            }
            .animate {
              -webkit-animation: animatezoom 0.6s;
              animation: animatezoom 0.6s
            }
            @-webkit-keyframes animatezoom {
              from {-webkit-transform: scale(0)}
              to {-webkit-transform: scale(1)}
            }
            @keyframes animatezoom {
              from {transform: scale(0)}
              to {transform: scale(1)}
            }
          </style>
      {% block content %} 
        <!-- Main content goes here -->
      {% endblock %}
      </main>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous" ></script>
    <script src = "/static/table2excel.js"></script>
  </body>
</html>
