{%extends 'base.html'%}
{%block title%}Blocks{%endblock%}
{%block content%}
<style>
  .modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%; 
  }
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
</style>
{%for block in blocks%}
{%set idx = loop.index%}
<div id = "slide-{{idx}}" hidden = "true">
<h3>Elective Block {{loop.index}}</h3>
<div class="modal" id = "modal-div-{{loop.index}}" style = "display:none">
  <div class="modal-content animate" id = "modal-container-{{loop.index}}">
    <div class="modal-header">
      <h4 class="modal-title">Add Subject</h4>
      <span onclick= "document.getElementById('modal-div-{{loop.index}}').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="modal-body" id = "modal-body-{{loop.index}}">
      <div id = "subject-messages-{{idx}}"></div>
      <h6>Enter the subject name</h6>
      <input class = "form-control" id = "subject" placeholder = "Subject Name" />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" style = "background-color:black;border:none" onclick = "addSubject(document.getElementById('subject').value,{{loop.index}})" id = "add-subject-{{loop.index}}">Add Subject</button>
    </div>
  </div>
</div>
<ul id = "block-{{loop.index}}">
{%for subject in block%}
<div id = "{{subject}}{{idx}}-div">
  <input class = "form-control" oninput = "updateLi('{{subject}}{{idx}}')" value = "{{subject}}" id = "{{subject}}{{idx}}-input" hidden = "true"/>
  <li id = "{{subject}}{{idx}}-li">{{subject}}</li>
  <i id = "{{subject}}{{idx}}" class = "fa fa-pencil" onclick = "toggleMode('{{subject}}{{idx}}')"></i>
  <i id = "{{subject}}{{idx}}-edit" class = "fa fa-save" onclick = "editSubject('{{subject}}',{{idx}})" hidden = "true"></i>
  <i id = "{{subject}}{{idx}}-delete" class = "fa fa-trash" onclick = "deleteSubject('{{subject}}','{{idx}}')"></i>
</div>
{%endfor%}
</ul>
<button class = "btn btn-primary" onclick = "document.getElementById('modal-div-{{loop.index}}').style.display='block'" style = "background-color:black;border:none">Add Subject</button>
</div>
{%endfor%}
<button id = "left" class = "btn btn-primary" onclick = "left()" style = "background-color:black;border:none" hidden = "true">&larr;</button>
<button id = "right" class = "btn btn-primary" onclick = "right()" style = "background-color:black;border:none" >&rarr;</button>
<script>
  slide = 1 // This is the current slide number
  document.getElementById("slide-1").hidden = false // This shows the first slide
  function changeOpacity(current,change,idx){ // This function is called to change the opacity of a slide
    if(current>=1 && change >0){ // Checks if the opacity is greater than or equal to 1 and the change is positive
      return null // This is the base case for the recursion
    }
    if(current<=0 && change <0){ // Checks if the opacity is less than or equal to 0 and the change is negative
      return null // This is the base case for the recursion
    }
    current+=change // This changes the opacity of the slide
    document.getElementById("slide-"+(idx).toString()).style.opacity = current.toString() // This changes the opacity of the slide
    setTimeout(function(){changeOpacity(current,change,idx)},10) // This calls the function again after 10 milliseconds
  }
  function left(){ // This function is called when the user clicks the left arrow
    slide-- // Decreases the slide number by 1
    document.getElementById("right").hidden = false // Shows the right arrow
    if(slide<=1){ // Checks if the user is on the first slide  
      slide = 1 // If the user is on the first slide, we set the slide number to 0
      document.getElementById("left").hidden = true // Hides the left arrow
    }
    else{ // The user is not on the first slide
      document.getElementById("left").hidden = false // Shows the left arrow
    }
    changeOpacity(1,-0.1,slide+1) // This changes the opacity of the slide
    setTimeout(function (){ // This function is called after 250 milliseconds
      document.getElementById("slide-"+(slide).toString()).style.opacity = "0"
      document.getElementById("slide-"+(slide).toString()).hidden = false // Shows new slide
      document.getElementById("slide-"+(slide+1).toString()).hidden = true // Hides old slide
      changeOpacity(0,0.1,slide)},250) // This changes the opacity of the slide
  }
  function right(){ // This function is called when the user clicks the right arrow
    slide++ // Increases the slide number by 1
    document.getElementById("left").hidden = false
    if(slide>=3){ // Checks if the user is on the last slide
      slide = 3 // If the user is on the last slide, we set the slide number to 3
      document.getElementById("right").hidden = true // Hides the right arrow
    }
    else{ // The user is not on the last slide
        document.getElementById("right").hidden = false // Shows the right arrow
    }
    changeOpacity(1,-0.1,slide-1) // This changes the opacity of the slide
    setTimeout(function (){ // This function is called after 250 milliseconds
      document.getElementById("slide-"+(slide).toString()).style.opacity = "0" // This changes the opacity of the slide
      document.getElementById("slide-"+(slide).toString()).hidden = false // Shows new slide
      document.getElementById("slide-"+(slide-1).toString()).hidden = true // Hides old slide
      changeOpacity(0,0.1,slide)},250) // This changes the opacity of the slide
  }
  function toggleMode(id){ // This function is called when the user clicks the pencil icon
    if(document.getElementById(id).className == "fa fa-pencil"){ // Checks if the icon is a pencil
      document.getElementById(id).className = "fa fa-eye" // This changes the icon to an eye
      document.getElementById(id+"-input").hidden = false // This shows the input box
      document.getElementById(id+"-li").hidden = true // This hides the list item
    }
    else{ // The icon is an eye
      document.getElementById(id).className = "fa fa-pencil" // This changes the icon to a pencil
      document.getElementById(id+"-input").hidden = true // This hides the input box
      document.getElementById(id+"-li").hidden = false // This shows the list item
    }
  }
  function updateLi(id){ // This function is called when the user types in the input box
    document.getElementById(id+"-li").innerHTML = document.getElementById(id+"-input").value // This updates the list item
    document.getElementById(id+'-edit').hidden = false // This shows the save icon
  }
  function deleteSubject(subject,idx){ // This function is called when the user clicks the delete icon
    if(confirm("Are you sure you want to delete "+subject+" from block "+idx+"?")){ // This confirms if the user wants to delete the subject
      fetch("/delete-subject",{ // This is the fetch request to the server
        method:"POST", // This is the method of the request
        headers:{ // This is the headers of the request
          "Content-Type":"application/json" // This is the content type of the request
        },
        body:JSON.stringify({ // This is the body of the request
          "subject":subject, // This is the subject name
          "idx":idx // This is the block number
        })
      }).then(response => response.json()).then(data =>process_delete_response(data,subject,idx)) // This function is called when the response from the server is received
    }
  }
  function process_delete_response(data,subject,idx){ // This function is called when the response from the server is received
    if(data.success == "y"){ // This checks if the subject was deleted successfully
      flash("Subject deleted successfully","success") // This is the success message that is displayed if the subject was deleted successfully
      document.getElementById(subject+idx+"-div").hidden = true // This hides the subject from the block
    }
    else{ // This checks if the subject failed to delete
      flash("Subject failed to delete","error") // This is the error message that is displayed if the subject failed to delete
    }
  }
  function addSubject(subject,idx){ // This function is called when the user clicks the add subject button
    fetch("/add-subject",{ // This is the fetch request to the server
      method:"POST", // This is the method of the request
      headers:{ // This is the headers of the request
        "Content-Type":"application/json" // This is the content type of the request
      },
      body:JSON.stringify({ // This is the body of the request
        "subject":subject, // This is the subject name
        "idx":idx // This is the block number
      })
    }).then(response => response.json()).then(data =>process_add_response(data,subject,idx)) // This function is called when the response from the server is received
  }
  function process_add_response(data,subject,idx){ // This function is called when the response from the server is received
    if(data.success == "y"){
      flash("Subject added successfully","success","subject-messages-"+idx,document.getElementById("modal-container-"+idx)) // This is the success message that is displayed if the subject was added successfully
      div = document.createElement("div") // This creates a new div element
      div.id = subject+idx.toString()+"-div"
      input = document.createElement("input") // This creates a new input element
      input.className = "form-control" // This sets the class of the input element
      input.oninput = function(){updateLi(subject+idx)} // This sets the oninput function of the input element
      input.value = subject // This sets the value of the input element
      input.id = subject+idx.toString()+"-input" // This sets the id of the input element
      input.hidden = true // This hides the input element
      li = document.createElement("li") // This creates a new list item element
      li.id = subject+idx.toString()+"-li" // This sets the id of the list item element
      li.innerHTML = subject // This sets the innerHTML of the list item element
      p = document.createElement("p") // This creates a new paragraph element
      i = document.createElement("i") // This creates a new icon element
      i.id = subject+idx.toString() // This sets the id of the icon element
      i.className = "fa fa-pencil" // This sets the class of the icon element
      i.onclick = function(){toggleMode(subject+idx)} // This sets the onclick function of the icon element
      i2 = document.createElement("i") // This creates a new icon element
      i2.id = subject+idx.toString()+"-edit" // This sets the id of the icon element
      i2.className = "fa fa-save" // This sets the class of the icon element
      i2.onclick = function(){editSubject(subject,idx)} // This sets the onclick function of the icon element
      i2.hidden = true // This hides the icon element
      i3 = document.createElement("i") // This creates a new icon element
      i3.id = subject+idx.toString()+"-delete" // This sets the id of the icon element
      i3.className = "fa fa-trash" // This sets the class of the icon element
      i3.onclick = function(){deleteSubject(subject,idx)} // This sets the onclick function of the icon element
      div.appendChild(input) // This adds the input element to the div
      div.appendChild(li) // This adds the list item element to the div
      p.appendChild(i) // This adds the icon element to the p
      p.appendChild(i2) // This adds the icon elements to the p
      p.appendChild(i3) // This adds the icon elements to the p
      div.appendChild(p) // This adds the p to the div
      document.getElementById("block-"+idx).appendChild(div) // This adds the new subject to the block
    }
    else if(data.success == "special_characters"){ // This checks if the subject contains special characters
      flash("The subject name cannot contain the following special characters:\n/-_@?![]=$&:;,","error","subject-messages-"+idx,document.getElementById("modal-container-"+idx)) // This is the error message that is displayed if the subject contains special characters
    }
    else{ // This checks if the subject failed to add
      flash("Subject failed to add","error","subject-messages-"+idx,document.getElementById("modal-container-"+idx)) // This is the error message that is displayed if the subject failed to add
    }
  }
  function editSubject(subject,idx){ // This function is called when the user clicks the save icon
    new_subject = document.getElementById(subject+idx+"-input").value // This gets the new subject name from the input box
    fetch("/edit-subject",{ // This is the fetch request to the server
      method:"POST", // This is the method of the request
      headers:{ // This is the headers of the request
        "Content-Type":"application/json" // This is the content type of the request
      },
      body:JSON.stringify({ // This is the body of the request
        "old_subject":subject, // This is the old subject name
        "new_subject":new_subject, // This is the new subject name
        "idx":idx // This is the block number
      })
    }).then(response => response.json()).then(data =>process_edit_response(data,subject,new_subject,idx)) // This function is called when the response from the server is received
  }
  function process_edit_response(data,subject,new_subject,idx){ // This function is called when the response from the server is received
    if(data.success == "y"){ // This checks if the subject was edited successfully
      flash("Subject edited successfully","success") // This is the success message that is displayed if the subject was edited successfully
      document.getElementById(subject+idx).id = new_subject+idx // This changes the id of the pencil icon
      document.getElementById(subject+idx+"-input").id = new_subject+idx+"-input" // This changes the id of the input box
      document.getElementById(subject+idx+"-li").id = new_subject+idx+"-li" // This changes the id of the list item
      document.getElementById(subject+idx+"-delete").id = new_subject+idx+"-delete" // This changes the id of the delete icon
      document.getElementById(subject+idx+"-edit").hidden = true;
      document.getElementById(subject+idx+"-edit").id = new_subject+idx+"-edit" // This changes the id of the save icon
      document.getElementById(subject+idx+"-div").id = new_subject+idx+"-div" // This changes the id of the div
      document.getElementById(new_subject+idx).onclick = function(){toggleMode(new_subject+idx)} // This sets the onclick function of the new pencil icon
      document.getElementById(new_subject+idx+"-delete").onclick = function(){deleteSubject(new_subject,idx)} // This sets the onclick function of the new delete icon
      document.getElementById(new_subject+idx+"-edit").onclick = function(){editSubject(new_subject,idx)} // This sets the onclick function of the new save icon
      document.getElementById(new_subject+idx+"-input").oninput = function(){updateLi(new_subject+idx)} // This sets the oninput function of the new input box
    }
    else if(data.success == "special_characters"){ // This checks if the subject contains special characters
      flash("The subject name cannot contain the following special characters:\n/-_@?![]=$&:;,","error") // This is the error message that is displayed if the subject contains special characters
    }
    else{ // This checks if the subject failed to edit
      flash("Subject failed to edit","error") // This is the error message that is displayed if the subject failed to edit
    }
  }
</script>
{%endblock%}