{% extends "base.html" %} {% block title %}Verify your account{% endblock %} {% block content
%}
{%if not user.is_authenticated%}
<h4>Enter your email address.</h4>
<form method = "POST">
  <div class="form-group">
    <input
      class="form-control"
      id="email"
      name="email"
      type = "email"
      placeholder="Enter your email address"
      required
    />
  </div>
  <button type="submit" id = "submit" class="btn btn-primary" style = "background-color:black;border:none;display:none">Verify account</button>
</form>
  <button onclick = "email()" class="btn btn-primary" style = "background-color:black;border:none">Submit</button>
<script>
  function process(data){ // This function is called when the response from the server is received
      if(data.exists == "y"){ // This checks if the email exists in the database
        button = document.getElementById("submit") // This gets the submit button
        button.click() // This clicks the submit button
      }
      else{ // The email does not exist in the database
        flash("There was an error. Please try again later.","error") // This is the error message that is displayed if the email does not exist in the database
      }
    }
  function email(){ // This function is called when the user clicks the "Submit" button
    try{ // This is the try block that is used to catch any errors that occur in the fetch request
      fetch("/verify-forgot", { // This is the fetch request to the server
      method:"POST", // This is the method of the request
      body:JSON.stringify({email:document.getElementById("email").value}) // This is the body of the request
    }).then((response)=>response.json()).then((data)=>process(data))} // This function is called when the response from the server is received
    catch{ // This is the catch block that is used to catch any errors that occur in the fetch request
      flash("An error occured","error") // This is the error message that is displayed if the fetch request fails
    }
  }
</script>
{%else%}
<script>
  location.href = "/"
</script>
{%endif%}
{%endblock%}